.benefits {
  padding-top: 111px;
  padding-bottom: 120px;

  background-image: linear-gradient(rgba(227, 236, 246, 0.9), rgba(227, 236, 246, 0.9)), url("../img/bg-benefits.jpg");

  @include retina {
    background-image: linear-gradient(rgba(227, 236, 246, 0.9), rgba(227, 236, 246, 0.9)), url("../img/bg-benefits@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 118px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.benefits__title {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-tangaroa;

  @include vp-1023 {
    font-size: 26px;
    line-height: 29px;
  }

  @include vp-767 {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 36px;
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    column-gap: 30px;
    margin: 0 20px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 28px;
    margin: 0;
  }
}

.benefits__item {
  position: relative;
  padding: 82px 40px 45px 30px;
  background-color: $color-alice-blue;

  @include vp-1023 {
    padding: 76px 10px 25px 20px;
  }

  @include vp-767 {
    padding: 70px 12px 25px 20px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 30px;

    @include vp-1023 {
      left: 20px;
    }

    @include vp-767 {
      left: 19px;
      top: 25px;
    }
  }

  &--ship::after {
    width: 27px;
    height: 32px;
    background-image: url("../img/svg/ship.svg");

    @include vp-1023 {
      width: 21px;
      height: 26px;
      background-image: url("../img/svg/ship-small.svg");
    }
  }

  &--tick::after {
    width: 38px;
    height: 32px;
    background-image: url("../img/svg/tick.svg");

    @include vp-1023 {
      width: 27px;
      height: 26px;
      background-image: url("../img/svg/tick-small.svg");
    }
  }

  &--trip::after {
    width: 44px;
    height: 32px;
    background-image: url("../img/svg/trip.svg");

    @include vp-1023 {
      width: 36px;
      height: 26px;
      background-image: url("../img/svg/trip-small.svg");
    }
  }
}

.benefits__item:nth-child(2n) {
  padding-right: 45px;

  @include vp-1023 {
    padding-right: 20px;
  }
}

.benefits__item:nth-child(3n) {
  padding-right: 30px;

  @include vp-1023 {
    padding-right: 20px;
  }
}

.benefits__item-title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-tangaroa;

  @include vp-1023 {
    line-height: 25px;
  }

  @include vp-767 {
    padding-right: 50px;
  }
}

.benefits__item:nth-of-type(3n) .benefits__item-title {
  @include vp-1023 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    margin-bottom: 8px;
  }
}

.benefits__item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-tangaroa;
}
