.catalog {
  padding-top: 95px;
  padding-bottom: 120px;
}

.catalog__title {
  text-align: center;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-tangaroa;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.catalog__item {
  position: relative;
}

.catalog__cruises-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 0;
  overflow-y: scroll;

  background-color: $color-tangaroa;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
}

.catalog__item:hover .catalog__cruises-content {
  z-index: 2;
}

.catalog__cruises-content h3 {
  margin: 0;
  margin-bottom: -3px;
  padding: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;
}

.catalog__cruises-description-wrapper dt {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-alice-blue;
}

.catalog__cruises-description-wrapper dd {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
}

.catalog__cruises-button {
  padding-top: 8px;
  padding-bottom: 9px;
  text-align: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
}

.catalog__cruises-button:focus-within {
  z-index: 2;
  border: 1px solid $color-torch-red;
}


.catalog__cruises-img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 260 / 386;
}

.catalog__cruises-intro {
  position: relative;

  @include vp-1023 {
    min-height: 386px;
    max-height: 386px;
    overflow: hidden;
  }

  @include vp-767 {
    min-width: 270px;
    max-width: 270px;
  }
}

.catalog__cruises-intro h3 {
  position: absolute;
  bottom: 0;
  left: 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;

  @include vp-1023 {
    left: 35px;
  }
}
