.intro {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;

  background-color: $color-tangaroa;
  background-image: url("../img/bg-main.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 65%;

  @include retina {
    background-image: url("../img/bg-main@2x.webp");
  }

  @include vp-1023 {
    margin-bottom: 89px;
  }

  @include vp-767 {
    min-height: 500px;
    margin-bottom: 65px;
    background-image: url("../img/bg-main-mobile.webp");

    @include retina {
      background-image: url("../img/bg-main-mobile@2x.webp");
    }
  }
}

.intro__wrapper {
  margin-left: 95px;

  @include vp-1023 {
    margin-left: 20px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 80px;

  font-family: $ff-default;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    padding-top: 70px;
    margin-top: -10px;
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    margin-top: 0;
    font-size: 36px;
    line-height: 45px;
  }
}

.intro__text {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    padding-bottom: 78px;
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    padding-right: 60px;
  }
}
